

/* header */

.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__f {
  display: flex;
  justify-content: space-between;

}

.header {
  padding-top: 25px;
}

.header hr {
  border:1px solid black;
}
.header__item strong {
  font-weight: 900;
 
  font-size: 35px;
  font-family: 'Oldenburg', cursive;
  text-transform: uppercase;
  

}

.header__text p {
  text-align: center;
  
}

.header__f {
  text-transform: uppercase;
  
}

/* wrapper */
.wrapper {
  display: flex;
  margin-top: 40px;
  
}

/* column first */

.column__first {
  width: 50%;
  
}

/* first par */
.first__chapter img {
  height: 150px;
  width: 250px;
}

.first__chapter  {
  text-align: center;
}

.img__p__text {
  display: flex;
}
.wrap {
  display: grid;
}

.grid h4 {
  text-align: center;
}

/* second chapter */
.second__chapter  {
  text-align: center;
}
.second__chapter h3 {
  font-family: 'Biryani', sans-serif;
  text-transform: uppercase;
 
}

.star {
  height: 30px;
  width: 30px;
  
}


.third__chapter {
  margin-top: 25px;
 
}

.third__chapter .img__p__text {
  padding-top: 15px;
}

.column__second {
  max-width: 25%;
  width: 25%;
  flex-grow: 1;
  margin: 0 10px;
  
}

.column__second  {
  text-align: center;
}
.black_bg {
  background-color: black;
  color:white;
  
}
.black_bg h3 {
  margin: 7px 0;
}


.column__third {
  max-width: 25%;
  margin: 0 10px;
}
.column__third  {
  text-align: center;
}





